<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599351373847-vcnhmejb3htoqr5rqiiqp4vd3v26m301.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599351373847-vcnhmejb3htoqr5rqiiqp4vd3v26m301</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>599351373847-a1kefa4tlcmck84qad1ogd98b09of0eu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0VhjUpF9_mi4tQ-_dwFDGpvcI8eyiNBM</string>
	<key>GCM_SENDER_ID</key>
	<string>599351373847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bfi.id.flutterBfiBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-newspaper-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-newspaper-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599351373847:ios:e87a234482b89bd2ab6c52</string>
</dict>
</plist>